body { font: 12px Arial;}

path {
  stroke: #0066CC;
  stroke-width: 1.25;
  fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
svg {
    border: 1px solid #0066CC;
    background-color: #EBF5FF;
    margin-top: 30px;
    border-radius: 5px;
    /*display: none;*/
}

h1 {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  padding-left: 174px;
  margin-top: 30px;
}

#graph_container {
  display: none;
}
button {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 200;
  background-color: #0066CC;
  width: 65px;
  height: 45px;
   -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 150px;
  margin-bottom: 10px;
  margin-top: 15px;
}


@media screen and (max-width: 767px) {
  #graph_container{
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px
  }
  svg {
    max-width: 100%
  }
  path {
    max-width: 100%;
  }


  .axis line {
    max-width: 80%;
  }


  h1 {
    padding-left: 100px;
  }
  button {
    margin-left: 100px;
  }
}

.row {
    width:50%;
    float: left;
  }
  /* apply different style ("stacked") to row class when screen < 900px*/
  @media (max-width: 900px) {
.row {
  float: none;
  width: auto;
  height:260px;
}
